<!-- <ul>
  <li *ngFor="let p of products">{{p}}</li>
</ul>

<table>
  <ng-container *ngFor="let p of products">
      <tr>{{p.cartTotal}}</tr>
  </ng-container>
</table> -->



<table>
  <thead>
    <th class="space">Order Id</th>
    <th class="space">Order Date</th>
    <th class="space">Cart Total</th>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td class="center-data">{{p.orderId}}</td>
      <td class="center-data">{{p.orderDate}}</td>
      <td class="center-data">{{p.cartTotal}}</td>
      <table>
        <thead>
          <th class="space">Order Id</th>
          <th class="space">Order Date</th>
          <th class="space">Cart Total</th>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <td class="center-data">{{p.orderId}}</td>
            <td class="center-data">{{p.orderDate}}</td>
            <td class="center-data">{{p.cartTotal}}</td>
          </tr>
        </tbody>
      </table>
    </tr>
    
  </tbody>
</table>